[Unit]
Description=PiLN Kiln Controller firing daemon

[Service]
Type=simple
WorkingDirectory=/home/bclzz4/git/MyPiLN/daemon
ExecStart=/home/bclzz4/git/MyPiLN/daemon/pilnfired.py
Restart=always

[Install]
WantedBy=multi-user.target
